html, body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
    box-sizing: border-box;
    background-color: #fffff4;
}

.container {
    min-height: 88vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding: 3rem 0 0 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

company {
    font-weight: normal;
    font-style: italic;
}

footer {
    width: 100%;
    min-height: 12vh;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f1f1;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title, .description {
    text-align: left;
}

.description {
    line-height: 1.5;
    font-size: 1.2rem;
    margin-top: 0;
}

.intro {
    padding-top: 50px;
    line-height: 1.5;
    font-size: 1.5rem;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.card:hover, .card:focus, .card:active {
    color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0, 0, 0, 0.7);
}

.card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.logo {
    height: 1em;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.entry {
    list-style-type: none;
    width: 100%;
    padding: 0;
    white-space: pre-wrap;
}

hr {
    margin-top: 30px;
    border-color: black;
}

date {
    font-style: italic;
    color: #999;
    font-weight: normal;
    font-size: 70%;
}

table {
    width: 40%;
}

.plainlink {
    text-decoration: none;
    transition: color 0.3s ease, border-color 0.3s ease;
    color: black;
}

.plainlink:hover, .plainlink:focus, .plainlink:active{
    color: rgba(0, 0, 0, 0.6);
}

img {
    width: 40px;
    margin: 20px;
}

.links {
    float: left;
}

.footer-icon {
    margin: 10px;
    color: black;
    text-align: left;
}

svg, .footer-icon, .links {
    background-color: rgba(0, 0, 0, 0);
}

svg {
    transition: color 0.3s ease;
}

svg:hover {
    color: rgba(0, 0, 0, 0.7);
}

.entrydescription {
    margin-bottom: 15px;
}
